services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    restart: unless-stopped
    depends_on:
      - "nginx-proxy"
    volumes_from:
       - "nginx-proxy"
    volumes:
       - ./certs:/etc/nginx/certs:rw
       - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
        - DEFAULT_EMAIL=
    networks:
      - proxy

  frontend:
    build:
      context: frontend
      args:
        NEXT_PUBLIC_ENV: production
        NEXT_PUBLIC_GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
    image: frontend
    container_name: frontend
    restart: unless-stopped
    expose:
        - "80"
    networks:
      - proxy
    depends_on:
      - backend
    environment:
      - VIRTUAL_HOST=
      - LETSENCRYPT_HOST=

  backend:
    build: backend
    image: backend
    container_name: backend
    restart: unless-stopped
    expose:
      - "3000"
    volumes:
      - ./db:/home/app/db:rw
      - ./uploads:/home/app/uploads:rw
    environment:
      - PORT=3000
      - ENV=production
      - LOCAL_APP_URL=${LOCAL_APP_URL}
      - PROD_APP_URL=${PROD_APP_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}

    networks:
      - proxy
      
  # mongo:
  #   image: mongo
  #   container_name: mongo
  #   restart: always
  #   volumes:
  #     - ./data:/data

  redis:
    image: redis:7-alpine
    container_name: docs-redis
    ports:
      - "6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - proxy

  postgres:
    image: postgres:16-alpine
    container_name: docs-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    command: postgres -c listen_addresses='*'
    networks:
      - proxy

volumes:
  redis-data:
  postgres-data:

networks:
  proxy:
    driver: bridge
        